*/*для всех элементов в HTML*/
{
 margin: 0;
 padding: 0;
}/*отключение всех отступов*/

.block
{
	background: yellow;
	height: 200px;
	width: 200px;
	border: 7px solid silver;/*границы обводки таблицы dotted точки радиусом 7пкс или просто solid и серебристого цвета можно использовать направления тоже bottom left right*/
	border-bottom: 0;
	border-top-style: dashed;
	border-style: double;/*основной приоритет*/
	border-radius: 15px 50% 25px;/*скругление углов по часовой стрелке сначала левый верхний угол потом правый верхний угол ... получился полноценный лимон*/
 opacity: 0.75;/*прозрачность объекта на 50% более прозрачнее*/
 margin: 50px 100px;/*отступы со всех сторон и можно через тире указать стороны с отступом или если указать 2 значения то отступы будут чередоваться с начала вверх вниз потом лево право*/
 padding: 10px;/*внутренний отступ сверху и снизу*/
 display: block;/*сделали теги строчными  при помощи inline можно и сделать как блок если написать : block; или none если ничего не хотим*/
}